# This file is only for user convenience to run the project uninstalled, by
# `pip install -r ./requirements.txt`. pip currently does not support this from
# pyproject.toml (https://github.com/pypa/pip/issues/11584), so we need this
# duplicated dependency specification.

charset_normalizer>=3.3.2
openpyxl>=3.1.5
pyinstaller>=6.9.0
pyqt5==5.15.10
numpy==1.26.4
--index-url=https://download.pytorch.org/whl/cpu
--extra-index-url=https://pypi.org/simple
torch
stanza>=1.8.2
