altgraph==0.17.4
certifi==2024.6.2
charset-normalizer==3.4.0
emoji==2.12.1
et-xmlfile==1.1.0
filelock==3.14.0
fsspec==2024.6.0
idna==3.7
jinja2==3.1.4
markupsafe==2.1.5
mpmath==1.3.0
networkx==3.3
numpy==1.26.4
openpyxl==3.1.5
packaging==24.1
protobuf==5.27.1
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pyqt5==5.15.10
pyqt5-qt5==5.15.15
pyqt5-sip==12.15.0
requests==2.32.3
stanza==1.8.2
sympy==1.12.1
toml==0.10.2
--index-url=https://download.pytorch.org/whl/cpu
--extra-index-url=https://pypi.org/simple
torch==2.2.2
tqdm==4.66.4
typing-extensions==4.12.1
urllib3==2.2.1
