# This file is only for user convenience to run the project uninstalled, by
# `pip install -r ./requirements.txt`. pip currently does not support this from
# pyproject.toml (https://github.com/pypa/pip/issues/11584), so we need this
# duplicated dependency announcement.

charset_normalizer>=3.3.2
openpyxl>=3.1.2
pyinstaller>=6.1.0
pyside6-essentials>=6.6.1
stanza>=1.7.0
